
    <section class="container best-selections">
        <div class="title">
            <h1 class="mt-5">
                <em>Best our menu</em>
            </h1>
        </div>
        <div class="best-selection-child col-12">
            <img src="/best-selections/best-selection-one.jpeg" class="col-xl-6 col-lg-6 " alt="" srcset="">
            <div class="col-xl-6 col-lg-6 ">
                <h2><em>Grilled salmon</em></h2>
                <p class="desc">
                    <em>Grilled salmon on the grill with caviar sauce</em>
                </p>
                <p class="price">price : <span>58DHS</span></p>
            </div>
        </div>
        <div class="best-selection-child col-12 reverse">
            <div class="col-xl-6 col-lg-6 ">
                <h2><em>Penne chiken pasta</em></h2>
                <p class="desc">
                    <em>Italian style pasta with cheese sauce</em>
                </p>
                <p class="price">price : <span>40DHS</span></p>
            </div>
            <img src="/best-selections/best-selection-two.jpeg" class="col-xl-6 col-lg-6 " alt="" srcset="">
        </div>
        <div class="best-selection-child col-12">
            <img src="/best-selections/best-selection-three.jpeg" class="col-xl-6 col-lg-6" alt="" srcset="">
            <div class="col-xl-6 col-lg-6">
                <h2><em>Rozitto chiken</em></h2>
                <p class="desc">
                    <em>Risotto with special sauce the Italian way</em>
                </p>
                <p class="price">price : <span>45DHS</span></p>
            </div>  
        </div>
        <div class="best-selection-child col-12 reverse">
            <div class="col-xl-6 col-lg-6 ">
                <h2><em>Fettuccine chiken pasta</em></h2>
                <p class="desc">
                    <em>Fettuccine with white sauce</em>
                </p>
                <p class="price">price : <span>40DHS</span></p>
            </div>
            <img src="/best-selections/best-selection-four.jpeg" class="col-xl-6 col-lg-6 " alt="" srcset="">
        </div>
    </section>
