<div class="title">
    <h1 class="mt-5">
        <em>most popular</em>
    </h1>
</div>
<section class="most-popular container ">
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-one.JPG">
        <div class="title">
            <h3><em>pasta</em></h3>
            <p class="price">
                <span>40.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em>Pasta with pink sauce</em>
        </p>
    </div>
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-two.JPG">
        <div class="title">
            <h3><em>Chicken Curry</em></h3>
            <p class="price">
                <span>45.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em>Chicken Curry with Rice and Saffron</em>
        </p>
    </div>
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-three.JPG">
        <div class="title">
            <h3><em>Chicken burger</em></h3>
            <p class="price">
                <span>35.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em>Beef burger with rich cheese sauce with special brioche bread</em>
        </p>
    </div>
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-four.JPG">
        <div class="title">
            <h3><em>Chicken risotto</em></h3>
            <p class="price">
                <span>45.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em>Chicken risotto with special soace</em>
        </p>
    </div>
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-five.jpeg">
        <div class="title">
            <h3><em>Grilled salmon</em></h3>
            <p class="price">
                <span>59.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em> Grilled salmon with white sauce</em>
        </p>
    </div>
    <div class="col-xl-4 col-lg-4 child">
        <img src="/most-popular/most-popular-six.jpeg">
        <div class="title">
            <h3><em>Chicken sushi </em></h3>
            <p class="price">
                <span>35.00</span> HDS
            </p>
        </div>
        <p class="desc">
            <em>Chicken sushi sandwich with tortilla bread</em>
        </p>
    </div>
</section>